@model  Forum_v1.Models.ApplicationUser

@{
    ViewBag.Title = "Utilizatori";
}
a
 <h3 class="text_color">@ViewBag.Title</h3>

@foreach (var user in ViewBag.UserList)
{  <div class="panel-heading text_color">Nume utilizator: @user.UserName</div>
    <div class="panel-body text_color">
        <i class="glyphicon glyphicon-envelope text_color" ></i> Email utilizator: <span class="label label-default">@user.Email</span>
        <br/><br/>
        @if(@user.PhoneNumber != null)
        {
            <i class="glyphicon glyphicon-phone"> </i>@:Telefon utilizator: <span class="label label-default">@user.PhoneNumber</span>
        }

    </div>
    <div class="">
        <a class="btn btn-sm btn-success" href="/Users/Edit/@user.Id">Afisare utilizator</a>
    </div>
    <br/> <br/>
}