/*body color albastru*/
.color {
    background: #22223a;
}
/*link color albastru*/
#link {
    color: #22223a;
}
.link:hover{
    color: #fff;
}
/*navbar color caramiziu*/
#wh {
    background: #d56c2c;
}
/*text color caramiziu*/
.text_color {
    color: #d56c2c;
}
.text_color2 {
    color: #22223a;
}
.description {
    color: #d5972c;
}
/*subject color portocaliu*/
#my_style {
    border-radius: 25px;
    background: #d5972c;
}
.text_colorr {
    color: #fff ;
}
.hr_class {
    border-color: #4f454e;
}

#bootstrap_overides > a{
    color: #44566c;
}
#bootstrap_overrides > a:hover {
    color: #4b5e65;
}
